.controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.start-button {
    padding: 10px 18px;
    background: #111;
    color: #0ff;
    border: 2px solid #0ff;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

    .start-button:hover {
        background: #0ff;
        color: #0F0;
    }
